[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
arglinker = {git = "https://github.com/krisztianfekete/arglinker"}
fixtures = "==1.3.1"
testtools = "==1.8.0"
mypy = "*"
flake8 = "*"
vulture = "*"
black = "*"
pytest-cov = "==2.8.1"
freezegun = "==0.3.12"

[packages]
appdirs = "==1.4.0"
attrs = "==19.1.0"
cached-property = "==1.5.1"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
