extras==0.0.3
fixtures==1.0.0
python-mimeparse==0.1.4
six==1.9.0
unittest2==0.8.0
testtools==1.5.0
--allow-external arglinker
git+https://github.com/krisztianfekete/arglinker#egg=arglinker
green==1.9.3
coverage==3.7.1
